@import url('https://fonts.googleapis.com/css2?family=Metrophobic&display=swap');
body {
    background: #181A20;
    font-family: "Metrophobic", sans-serif;
    font-weight: 400;
    font-style: normal;
    color:white;
}

h1 { 
    text-align: center;
}

#table {
    margin: 0px 0px 0px 0px;
    width:100%;
    height:100%;
}

#table_wrapper {
    padding-bottom:30px;
    text-align:center;
}

#agg-type {
    color: white !important;
}

.Select-control {
    background-color: #222 !important;
    color: white !important;
}

.Select-input {
    color: white;
}

.Select.is-focused > .Select-control {
    color: white;
    background-color: #222;
}

#school-input {
    color: white;
}

.Select-value {
    color: white !important;
}

.Select-value-label {
    color: white !important;
}

.VirtualizedSelectOption {
    background-color: #222;
    color: white;
 }

.VirtualizedSelectFocusedOption {
    background-color: #222;
    color: white;
    opacity: .7;
}

.Select.is-focused:not(.is-open) > .Select-control {
    background-color: #222;
    color: white;
    border-color: var(--primary); 
    box-shadow: none;
}

