<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Model Evaluation</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="../static/styles.css">
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
       
    </head>
    <body>

        <!-- Navigation Bar -->
        <div class="navbar">
            <a class="navbar" href="#">Hello, {{ session.username }}!</a>
            <a href="/index" class="home">Home</a>
            <a href="/model-comparison" class="model_comparison">Model Evaluation</a>
            <a href="/building-1" class="building_1">Building 1</a>
            <a href="/building-2" class="building_2">Building 2</a>
            <a href="/building-3" class="building_3">Building 3</a>
            <a href="/about_us"   class="about_us">About us</a>
            <a href="{{ url_for('logout') }}" class="btn">Logout</a>
          </div>

        <!-- Main Content -->
        <iframe src="/modelevaluation/" id="modelevaluation" width="100%" height="1300px" style="border:none;"></iframe>

    </body>
</html>